{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="container">
        <a href="/" class="btn-sm-home">Home</a>
        {% if request.user.is_authenticated and request.user.is_superuser %}
            <a href="{% url 'admin_dashboard' %}" class="btn-sm-admin-login">Admin Dashboard</a>
	    {% endif %}

        <h1>User Registration</h1>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_first_name">First Name:</label>
                {{ form.first_name }}
            </div>
            <div class="form-group">
                <label for="id_last_name">Last Name:</label>
                {{ form.last_name }}
            </div>
            {% for field in form %}
                {% if field.name not in "first_name last_name" %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn">Register</button>
        </form>
        <p class="login-link">Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
    </div>
</body>
</html>
